<input type="hidden" name="{{ name }}" value="{{ value }}" class="gplace">
<input type="text"
       style="{{ style|default:'' }}"
       id="{{ name }}"
       value="{{ value_name }}"
       placeholder="Type in an address"
       autocomplete="off">

<script type="application/javascript">
    (function($) {
        var res = $('input[name={{ name }}]');
        var input = $('#{{ name }}');

        var autocomplete = new google.maps.places.Autocomplete(input[0],{
            language: '{{ lang }}',
            {% if country %}
            componentRestrictions: {country: '{{ country }}'},
            {% endif %}
{#            types: ["(cities)"]#}
        });
        autocomplete.addListener('place_changed', function() {
            var place = autocomplete.getPlace();
            if (place) {
                res.val(place.place_id);
                if (shop_gmap) {
                    shop_gmap.move_marker(place.geometry.location);
                }
            }
        });
    })(jQuery || django.jQuery);
</script>
