<input type="hidden" id="{{ name }}" name="{{ name }}" value="{{ value }}">
<div id="{{ map_name }}" style="{{ map_style }}"></div>

<script type="application/javascript">

    (function($) {
        shop_gmap.init({
            canvas: '{{ map_name }}',
            geopoint: '{{ name }}',
            address_default: 'Ukraine',
            mapOptions: {
                zoom: 5,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                panControl: false,
                zoomControl: true,
                scaleControl: true
            },
            markOptions: {
                draggable: true,
                animation: google.maps.Animation.DROP
            }
        });

    })(jQuery || django.jQuery);
</script>
